/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.input-field mat-form-field + mat-form-field {
  margin-left: 8px;
  width: 100%;
}
.card-container{
  width: 400px;
  margin: auto;
  margin-top: 200px;
}
.buttons-container{
  display: grid;
}
.input-field-form{
  width: 100%;
}
.input-field-form-register{
  width: 100%;
}
.card-container-register{
  width: 400px;
  margin: auto;
  margin-top: 200px;
}
.input-field-form-reTypePassword{
  width: 100%;
}
.div-container{
  display: flex;
}
